  <footer class="footer bg-dark" id="footer">
    <div class="container">
        <div class="footer-content text-center">
            <p class="fs-15 text-grey" id="about">About Us <span>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Laborum est debitis ratione inventore? Delectus quae, dolorem fuga velit corrupti adipisci
                    doloremque voluptate obcaecati quidem vitae! Dolorum quibusdam voluptas laborum itaque.</span>
            </p>
            <p class="fs-15 text-grey" id="contact">Contact <span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque
                soluta consequuntur tempora corrupti officia qui animi quod illum iste enim quasi ducimus similique
                cum tempore laboriosam fugiat consequatur, voluptatum molestiae.</span></p>
        </div>
        <p class="fs-15 text-grey text-center copyright">&copy;Copyright 2022. All Rights Reserved - <span>build.resume</span>
        </p>
    </div>
</footer>

    <script src="resume-builder-using-vanilla-javascript-master/assets/js/homepage.js"></script><!-- jquery cdn -->
<script
  src="https://code.jquery.com/jquery-3.6.4.js"
  integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E="
  crossorigin="anonymous"
></script>
<!-- jquery repeater cdn -->
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery.repeater/1.2.1/jquery.repeater.js"
  integrity="sha512-bZAXvpVfp1+9AUHQzekEZaXclsgSlAeEnMJ6LfFAvjqYUVZfcuVXeQoN5LhD7Uw0Jy4NCY9q3kbdEXbwhZUmUQ=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
<!-- custom js -->
<script src="/js/script.js"></script>
<!-- app js -->
<script src="/js/app.js"></script>
<script src="/js/homepage.js"></script>
  <script src="/js/script_pofile_page.js"></script>
</body>

</html>
