<%- include('./shared/header.ejs') %>
<header class="header bg-dark" id="header">
  <div class="container">
    <div class="header-content text-center">
      <h6 class="text-uppercase text-blue fs-14 fw-6 ls-1">
        online resume builder
      </h6>
      <h1 class="lg-title">
        Resumes only get past the first round in 2% of cases. Be in the top 2%.
      </h1>
      <p class="text-bright fs-18">
        Expertly designed, field-tested resume templates that employers seek.
        Try it now for free—it's simple and takes only a few minutes!
      </p>
      <a href="/resume?type=ats" class="btn btn-primary text-uppercase"
        >create my resume</a
      >
      <img src="/images/cv template 3 (cropped).jpg" /><br>
        <div class="templates bg-dark" id="cv_type">
                    <div class="container" >
                        <div class="templates-content text-center">
                            <h1 class="lg-title">Templates</h1>
                            <div class="img-container">
                                <a href="/resume?type=latte"><img src="/images/latte template.jpg" alt="" class="templateLink"></a>
                                <a href="/resume?type=brown"><img src="/images/cv template 2.png" alt="" class="templateLink"></a>
                                <a href="/resume?type=ats"><img src="/images/ATS template.png" alt="" class="templateLink"></a>
                            </div>

                        </div>
                    </div>
                </div>
    </div>
  </div>
</header>

<div class="section-one" id="cv_type">
  <div class="container">
    <div class="section-one-content">
      <div class="section-one-l">
        <img
          src="/images/achievements _ accomplishment, target, mountain, top, flag, man, people, achievement.png"
        />
      </div>
      <div class="section-one-r text-center">
        <h2 class="lg-title">Your manual for crafting the ideal resume!</h2>
        <p class="text">
          It can seem unachievable to land your ideal job. Our goal is to make
          that change. Obtain a genuine edge over other professionals by using
          the finest online resume creator: developed by specialists, enhanced
          by data, and relied upon by millions of professionals.
        </p>
        <div class="btn-group">
          <a href="/resume" class="btn btn-primary text-uppercase">
            <h2>Manual</h2>
            <p>Enter your data and wait for your resume to be made</p>
          </a>
          <a
            href=/resume"
            class="btn btn-secondary text-uppercase"
          >
            <h2>AI powered</h2>
            <p>Just tell us about your job title and watch the magic happen</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section-two bg-dark">
  <div class="container">
    <div class="section-two-content">
      <div class="section-items">
        <div class="section-item">
          <div class="section-item-icon">
            <img
              src="/images/winner (1).png"
              alt=""
            />
          </div>
          <h5 class="section-item-title">Create an interview-winning CV!</h5>
          <p class="text">
            Tell a professional story that engages recruiters, hiring managers,
            and even CEOs by using our resume maker and its refined creation
            tools.
          </p>
        </div>

        <div class="section-item">
          <div class="section-item-icon">
            <img
              src="/images/easy-to-use.png"
              alt=""
            />
          </div>
          <h5 class="section-item-title">Writing a resume is now simple!</h5>
          <p class="text">
            Writing a resume has never been so simple. The resume maker comes
            with pre-generated text, visual designs, and more already
            integrated. Just fill in your details.
          </p>
        </div>

        <div class="section-item">
          <div class="section-item-icon">
            <img
              src="/images/reliability.png"
              alt=""
            />
          </div>
          <h5 class="section-item-title">A recruiter-tested CV maker tool</h5>
          <p class="text">
            Both recruiters and IT specialists test our resume builder and its
            pre-generated content. We assist in making your CV really
            competitive during the employment process.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('./shared/footer.ejs') %>
