<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Login</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/login.css" />
  </head>

  <body>
    <div id="container">
      <nav id="navbar">
        <img
          src="/images/arrow.svg"
          alt="menu icon"
          id="menu_icon"
          width="45px"
          height="25px"
        />
        <img
          src="/images/user.png"
          alt="user icon"
          id="user_icon"
          width="40px"
          height="40px"
        />
      </nav>
      <div id="form_container">
        <h1>Login</h1>
        <h5><a href="#">Sign in to continue</a></h5>
        <form action="/handlelogin" method="POST">
          <label for="email">
            <strong>EMAIL</strong><br />
            <input
              type="email"
              name="email"
              id="email"
              placeholder="  something@email.com"
              required
            />
          </label>
          <label for="password">
            <strong>PASSWORD</strong><br />
            <input
              type="password"
              name="password"
              id="password"
              placeholder="   ******"
              minlength="8"
              required
            />
          </label>
          <br />
          <input type="submit" value="Sign in" id="submit_button" />
          <a href="/forget-password">Forgot Password?</a>
          <a href="/register">Sign up!</a>
        </form>
      </div>
    </div>
  </body>
</html>
