<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="CodeHim">
  <title>Profile</title>
  <link rel="stylesheet" href="/css/profile_page.css">
</head>

<body>
  <nav>
    <a href="/" class="navbar-brand">
      <img src="/images/resume-bright.svg" alt="" class="navbar-brand-icon">
      <span class="navbar-brand-text">build <span>resume.</span>
    </a>

    <div class="bars">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>

    <ul class="menuList">
      <a href="/"><li>Home</li></a>
      <a href="#footer"><li>About</li></a>
      <a href="#footer"><li>Contact</li></a>
    </ul>
  </nav>
<main class="cd__main">
  <div class="profile-page">
    <div class="content" style="border-radius: 1rem">
      <div class="content__avatar"></div>
      <h1><%= session?.name %></h1>
      <span><%= session?.email %></span>
    </div>

    <div class="content" style="border-radius: 1rem">
      <h1>Dashboard</h1>
      <div class="previous_templates">
  <% 
    // Initialize variables to track if a template exists
    let atsExists = false;
    let latteExists = false;
    let brownExists = false;
  
    for (let index = 0; index < resumes.length; index++) { 
      if (resumes[index].type === 'ats') { 
        atsExists = true; 
  %>
      <a href="/resume?type=ats">
        <img src="/images/ATS template.png" alt="ATS Template" />
      </a>
  <% 
      } else if (resumes[index].type === 'latte') { 
        latteExists = true; 
  %>
      <a href="/resume?type=latte">
        <img src="/images/latte template.jpg" alt="Latte Template" />
      </a>
  <% 
      } else if (resumes[index].type === 'brown') { 
        brownExists = true; 
  %>
      <a href="/resume?type=brown">
        <img src="/images/cv template 2.png" alt="Brown Template" />
      </a>
  <% 
      } 
    } // end of for loop
  %>

  <!-- Show "Create" links if the template doesn't exist -->
  <% if (!atsExists) { %>
    <a href="/resume?type=ats" class="btn btn-primary text-uppercase">Create ATS Template</a>
  <% } %>

  <% if (!latteExists) { %>
    <a href="/resume?type=latte" class="btn btn-primary text-uppercase">Create Latte Template</a>
  <% } %>

  <% if (!brownExists) { %>
    <a href="/resume?type=brown" class="btn btn-primary text-uppercase">Create Brown Template</a>
  <% } %>
</div>


  </div>
</main>
<%- include('./shared/footer.ejs') %>
