<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Sign Up</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/sign up.css">
    </head>
    
<body>

<div id="grid_container">
    <nav id="navbar">
        <img src="/images/menu_icon.png" alt="menu icon" id="menu_icon" width="45px" height="25px">
        <img src="/images/user.png" alt="user icon" id="user_icon" width="40px" height="40px">
    </nav>
    <div id="form_container">
        <h1>Create new <br>Account </h1>
        <h5><a href="login.html">Already registered? log in here</a></h2>
        <form action="/handleRegister" method="POST">
            <label for="name" > <strong>NAME</strong><br>
                <input type="text" name="name" id="name" placeholder="  your name" required>
            </label>
            <label for="email" > <strong>EMAIL</strong><br>
                <input type="email"name="email" id="email" placeholder="  something@email.com" required>
            </label>
            <label for="password"> <strong>PASSWORD</strong><br>
                <input type="password" name="password" id="password" placeholder="   ******" required>
            </label>
            <br>
                <input type="submit" value="Sign up" id="submit_button">
        </form> 
    </div>
    <div id="img_container">
        <img src="/images/resume-dark.png" alt="resume image" >    
    </div>
</div>

</body>
</html>
