@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* latte color value: #a08d63

*/
:root {
  --clr-blue: #1a91f0;
  --clr-blue-mid: #1170cd;
  --clr-blue-dark: #1a1c6a;
  --clr-white: #fff;
  --clr-bright: #eff2f9e5;
  --clr-dark: #1e2532;
  --clr-black: #000;
  --clr-grey: #656e83;
  --clr-green: #084c41;
  --clr-light-green: #6cf5c2;
  --clr-latte: #a08d63;
  --font-poppins: "Poppins", sans-serif;
  --font-manrope: "Manrope", sans-serif;
  --transition: all 300ms ease-in-out;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-family: var(--font-poppins);
  background-color: var(--clr-white);
}

button {
  border: none;
  display: inline;
  background-color: transparent;
  outline: 0;
  cursor: pointer;
  font-family: inherit;
}

img {
  width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: #535864;
}

/* fonts */
.font-poppins {
  font-family: var(--font-poppins);
}

.font-manrope {
  font-family: var(--font-manrope);
}

/* text colors */
.text-blue {
  color: var(--clr-blue);
}

.text-blue-mid {
  color: var(--clr-blue-mid);
}

.text-blue-dark {
  color: var(--clr-blue-dark);
}

.text-bright {
  color: var(--clr-bright);
}

.text-dark {
  color: var(--clr-dark);
}

.text-grey {
  color: var(--clr-grey);
}

.text-white {
  color: var(--clr-white);
}

/* backgrounds */
.bg-blue {
  background-color: var(--clr-blue);
}

.bg-blue-mid {
  background-color: var(--clr-blue-mid);
}

.bg-blue-dark {
  background-color: var(--clr-blue-dark);
}

.bg-bright {
  background-color: var(--clr-bright);
}

.bg-dark {
  background-color: var(--clr-dark);
}

.bg-grey {
  background-color: var(--clr-grey);
}

.bg-white {
  background-color: var(--clr-white);
}

.bg-black {
  background-color: var(--clr-black);
}

.bg-green {
  background-color: var(--clr-green);
}

.bg-latte {
  background-color: var(--clr-latte);
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-capitalize {
  text-transform: capitalize;
}

.text {
  color: var(--clr-dark);
  opacity: 0.9;
  margin: 2rem 0;
  line-height: 1.6;
}

.fw-2 {
  font-weight: 200;
}

.fw-3 {
  font-weight: 300;
}

.fw-4 {
  font-weight: 400;
}

.fw-5 {
  font-weight: 500;
}

.fw-6 {
  font-weight: 600;
}

.fw-7 {
  font-weight: 700;
}

.fw-8 {
  font-weight: 800;
}

.fs-13 {
  font-size: 13px;
}

.fs-14 {
  font-size: 14px;
}

.fs-15 {
  font-size: 15px;
}

.fs-16 {
  font-size: 16px;
}

.fs-17 {
  font-size: 17px;
}

.fs-18 {
  font-size: 18px;
}

.fs-19 {
  font-size: 19px;
}

.fs-20 {
  font-size: 20px;
}

.fs-21 {
  font-size: 21px;
}

.fs-22 {
  font-size: 22px;
}

.fs-23 {
  font-size: 23px;
}

.fs-24 {
  font-size: 24px;
}

.fs-25 {
  font-size: 25px;
}

.ls-1 {
  letter-spacing: 1px;
}

.ls-2 {
  letter-spacing: 2px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.6rem;
}

/* bars button */
.bars {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 16.5px;
  width: 25px;
}
.bars .bar {
  width: 100%;
  height: 2px;
  background-color: var(--clr-bright);
  transition: var(--transition);
  z-index: 2;
}

.bars:hover .bar {
  background-color: var(--clr-latte);
}

/* buttons */
.btn {
  font-size: 14.5px;
  font-weight: 600;
  padding: 1.4rem 1.6rem;
  border-radius: 4px;
}

.btn-primary {
  background-color: var(--clr-latte);
  color: var(--clr-white);
  border: 1px solid var(--clr-latte);
  transition: var(--transition);
}

.btn-primary:hover {
  background-color: transparent;
  color: var(--clr-latte);
  border-color: var(--clr-latte);
}

.btn-secondary {
  background-color: var(--clr-white);
  color: var(--clr-latte);
  border: 1px solid var(--clr-latte);
  transition: var(--transition);
}

.btn-secondary:hover {
  background-color: transparent;
  color: var(--clr-bright);
  border-color: var(--clr-white);
}

.btn-group button:first-child,
.btn-group a:first-child {
  margin-right: 1rem !important;
}

/* navbar part */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 3px 8px;
  opacity: 1;
  z-index: 1000;
}
.navbar .container {
  max-width: 100%;
  width: 100%;
  margin: 0;
}
.navbar .menuList{
  display: flex;
  flex-direction: row;
  text-align: center;
  gap: 10rem;
  color: var(--clr-bright);
  justify-content: center;
  justify-items: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.navbar .menuList a li{
  display: block;
  width: 110%;
  padding: 1rem;
  color: var(--clr-bright);
  margin-left: auto;
  margin-right: auto;
}

.navbar .menuList a:nth-child(4){
  display: none;
}
.navbar .menuList a li:hover{
  background-color: var(--clr-latte);
  border-radius: 4rem;
}
.navbar #login-btn{
  display: inline;
  background-color: var(--clr-latte);
  color: var(--clr-bright);
  font-size: 1.6rem;
  width: 120px;
  height: 50px;
  border-radius: 5rem;
  justify-self: right;
  color: var(--clr-bright);
}
.navbar #login-btn a li{
  list-style-type: none;
  color: var(--clr-bright);
}
.navbar-brand {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1.8rem;
}
.navbar-brand-text {
  color: var(--clr-bright);
  font-weight: 600;
}
.navbar-brand-text span {
  color: var(--clr-latte);
}
.navbar-brand-icon {
  width: 40px;
  margin-right: 6px;
  opacity: 0.8;
}
.navbar .brand-and-toggler {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  
}
.navbar-toggler-btn:hover .bar{
  background-color: var(--clr-latte);
}
.navbar .navbar-toggler-btn{
  z-index: 2;
  display: none;
}
.navbar .navbar-toggler-btn{
  display: none;
}
.navbar .brand-and-toggler{
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: 1fr;
  justify-content: center;
}
.navbar-toggler-btn.active span:nth-child(1){
  transform: translateY(7px) rotate(-45deg) ;
}
.navbar-toggler-btn.active span:nth-child(2){
  opacity: 0;
}
.navbar-toggler-btn.active span:nth-child(3){
  transform:  translateY(-7px) rotate(45deg);
}


/* header part*/
.header {
  min-height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 85px;
}
.header-content {
  max-width: 740px;
  margin-right: auto;
  margin-left: auto;
}
.header h6 {
  margin: 2rem;
  color: var(--clr-latte);
}
.header-content img {
  max-width: 760px;
  border-radius: 8px;
  margin-top: 3.2rem;
}
.lg-title {
  margin: 1.4rem 0;
  font-size: 37px;
  line-height: 1.4;
  color: var(--clr-bright);
}
.header-content p {
  margin-bottom: 2.6rem;
  line-height: 1.6;
}

/* section one */
.section-one {
  padding: 64px 0;
  min-height: 80vh;
  align-items: center;
  background-color: var(--clr-dark);
}
.section-one-l img {
  max-width: 454px;
  margin-right: auto;
  margin-left: auto;
}
.section-one-r {
  margin-top: 4rem;
  max-width: 545px;
  margin-right: auto;
  margin-left: auto;
}
.section-one-r h2 {
  color: var(--clr-bright);
}
.section-one-r p {
  color: var(--clr-bright);
}
.section-one .btn-group {
  margin-top: 2rem;
}
.section-one-r .btn-group {
  margin-top: 3rem;
}
.btn-group {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  justify-content: center;
}
.btn-group .btn-primary h2{
  text-align: center;
  color: var(--clr-bright);
}
.btn-group .btn-primary p{
color: var(--clr-bright);
text-align: center;
}
.btn-group .btn-secondary h2{
  color: var(--clr-latte);
  text-align: center;
  font-size: 1.7rem;
}
.btn-group .btn-secondary p{
  color: var(--clr-latte);
  text-align: center;
}


/* section two */
.section-two {
  margin-bottom: 10px;
  padding: 64px 0;
}
.section-two .section-items {
  display: grid;
  gap: 2rem;
}
.section-two .section-item {
  max-width: 350px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}
.section-two .section-item:hover{
  transform: scale(1.05);  
  transition: var(--transition);
}
.section-two .section-item-icon {
  margin: 1rem 0;
}

.section-two .section-item-icon img {
  width: 80px;
  margin-right: auto;
  margin-left: auto;
}
.section-two .section-item-title {
  color: var(--clr-bright);
  font-size: 1.8rem;
  font-weight: 600;
}
.section-two .text {
  margin: 0.9rem 0;
  color: var(--clr-bright);
}

/* footer */
.footer {
  padding: 3rem 0;
}
.footer-content p {
  color: var(--clr-grey);
}
.footer-content p span {
  color: var(--clr-white);
}

/* media queries */

@media screen and (max-width: 768px) {
  .section-two .section-items {
    grid-template-columns: repeat(1, 1fr);
  }
  .navbar .brand-and-toggler{
    grid-template-columns: repeat(2, 1fr);
  }
  .navbar .navbar-toggler-btn{
    display: block;
    justify-self: right;
  }
  .navbar .menuList{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    position: fixed;
    top: 80px;
    right: -450px;
    background-color: var(--clr-latte);
    border-radius: 5px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    height: fit-content;
    width: max-content;
    min-width: 200px;
    min-height: 150px;
    font-size: 1.4rem;
    padding: 1rem;
    z-index: 1;
    transition: .5s ease-in-out;  
  }
  .navbar .menuList.active{
    right: 0;
  }
  .navbar .menuList a{
    list-style-type: none;
    padding: 1rem;
    width: 100px;
  }
  .navbar .menuList a li:hover{
    background-color: #000;
    opacity: 0.5;
    border-radius: 4rem;
  }
  .navbar .menuList  a{
    color: var(--clr-bright);
  }
  .navbar .menuList a:nth-child(4){
    display: block;
  }
  
  .navbar #login-btn{
    display: none;
  }

}

@media screen and (min-width: 992px) {
  .section-one-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3rem;
    align-items: center;
  }

  .section-one-r {
    text-align: left;
  }
  .section-two .section-items {
    grid-template-columns: repeat(3, 1fr);
  }
  .section-two .section-item {
    text-align: left;
  }
  .section-two .section-item-icon img {
    margin-left: 0;
  }
}
