 <section id="preview-sc" class="print_area">
        <div class="container"></div>
            <div class="preview-cnt">
                <div class="preview-cnt-l bg-brown text-white">
                    <div class="preview-blk">
                        <div class="preview-image">
                           <img src="<%= fileUrl%>" alt="" id="image_dsp" />
                        </div>
  
                    </div>

                    <div class="preview-blk">
                        <div class="preview-blk-title">
                            <h3>Contact Details</h3>
                        </div>
                        <div class="preview-blk-list">
                            <div class="preview-item">
                                <span class="preview-item-val" id="phoneno_dsp"></span>
                            </div>
                            <div class="preview-item">
                                <span class="preview-item-val" id="email_dsp"></span>
                            </div>
                            <div class="preview-item">
                                <span class="preview-item-val" id="address_dsp"></span>
                            </div>
                        </div>
                    </div>

                    <div class="preview-blk">
                        <div class="preview-blk-title">
                            <h3>skills</h3>
                        </div>
                        <div class="skills-items preview-blk-list" id="skills_dsp">
                            <!-- skills list here -->
                        </div>
                    </div>

                </div>

                <div class="preview-cnt-r bg-white">
                    <div class="preview-blk">
                        <div>
                            <div class="preview-blk-name">
                                <div class="preview-item preview-item-name">
                                    <span class="preview-item-val preview-blk-title fw-6 text-center text-capitalize text-light-grey" id="fullname_dsp"></span>
                                </div>
                                <div class="preview-item">
                                    <span class="preview-item-val text-center text-capitalize text-light-grey fw-6 ls-1" id="designation_dsp"></span>
                                </div>
                            </div>
                            <br>
                            <div class="preview-item">
                                <span class="preview-item-val text-light-grey" id="summary_dsp"></span>
                            </div>
                        </div>

                    </div>

                    <div class="preview-blk" id="experiences">
                        <div class="preview-blk-title">
                            <h3>Work Experience</h3>
                        </div>
                        <div class="experiences-items preview-blk-list" id="experiences_dsp"></div>
                    </div>
                    <button class="experiences-remove-btn remove-btn non_print_area">-</button>
                    <button class="experiences-add-btn add-btn non_print_area">+</button>

                    <div class="preview-blk">
                        <div class="preview-blk-title">
                            <h3>educations</h3>
                        </div>
                        <div class="educations-items preview-blk-list" id="educations_dsp"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="print-btn-sc" style="margin:  0.5rem 0 0.5rem 0;">
        <div class="container">
            <button type="button" id="exportPDF" class="print-btn btn btn-primary" onclick="printCV()">Print CV</button>
      <button
      style="margin-left: 10px;"
      type="submit"
      onclick="saveResumeData()"
      class="print-btn btn btn-primary"
    >
      Save
    </button>
      
        </div>
    </section>